header, a, a:hover {
  color: #fff;
}

.empty {
  height: 150px;
}

body {
  min-width: 320px;
}

a {
  font: 20px "Montserrat";
  color: #000;
  text-transform: uppercase;
  letter-spacing: 6px;
}
a:hover, a:focus {
  color: #000;
  text-decoration: none;
  outline: 0;
  border: 0;
}

h2, h2 a {
  font: 88px "PlayfairDisplay-Black" !important;
  margin-bottom: 20px;
  letter-spacing: normal;
  text-transform: capitalize;
}

.alex-overlay:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(32, 32, 32, 0.8) !important;
  z-index: 9999;
}

.monser-gray, .foot-menu a {
  font: 20px "Montserrat";
  text-transform: uppercase;
  color: #a3a3a3;
  letter-spacing: 5px;
}

header .shop-big-menu-btn {
  padding: 25% 0;
}
header .shop-big-menu-btn img {
  margin-left: 30px;
  cursor: pointer;
}

.header-top {
  margin: 40px 0;
}
.header-top .cart {
  background: url("../img/shop/cart.png") no-repeat;
  width: 45px;
  height: 45px;
  display: inline-block;
  margin-right: 80px;
  position: relative;
  cursor: pointer;
}
.header-top .cart span {
  position: absolute;
  bottom: -5px;
  right: -14px;
  background: #000;
  color: #fff;
  border-radius: 17px;
  width: 35px;
  height: 35px;
  padding: 8px 7px 0 0;
  font-weight: bold;
  font: 16px "Montserrat";
}
.header-top .profile {
  background: url("../img/shop/profile.png") no-repeat;
  width: 45px;
  height: 45px;
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
}
.header-top .shop-btn-mobile {
  line-height: 47px;
}
.header-top .shop-btn-mobile img {
  cursor: pointer;
}

h1.main-name {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font: 40px "Ailerons";
  padding: 0;
}

.top-menu {
  display: none;
  position: absolute;
  top: 36%;
  background-color: #fff;
  width: 100%;
  z-index: 9999;
}
.top-menu .close-top-menu {
  top: 123px;
  position: absolute;
  left: 6%;
  cursor: pointer;
}
.top-menu ul {
  text-align: center;
  margin-bottom: 0;
}
.top-menu ul li {
  padding-right: 70px;
}
.top-menu ul li:hover .vert-line {
  visibility: visible;
}
.top-menu ul li:hover a {
  color: #000;
  text-decoration: none;
}
.top-menu ul li:last-child {
  padding-right: 0;
}
.top-menu a {
  font: 20px "Montserrat";
  text-transform: uppercase;
  color: #999;
}
.top-menu .vert-line {
  visibility: hidden;
  height: 65px;
  width: 3px;
  background-color: #000;
  display: block;
  margin: 30px auto 40px auto;
}

.mob-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  z-index: 9999;
}

.show_mob_menu {
  display: block !important;
}
.show_mob_menu ul {
  text-align: center;
  margin-top: 50px;
  padding-left: 0;
}
.show_mob_menu li {
  margin-top: 20px;
}
.show_mob_menu a {
  font: 20px "Montserrat";
  text-transform: uppercase;
  color: #999;
}
.show_mob_menu a:hover {
  text-decoration: none;
  color: #000;
}
.show_mob_menu a {
  overflow: hidden;
  position: relative;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}
.show_mob_menu li:hover a:before, .show_mob_menu li:hover a:after {
  content: "";
  display: inline-block;
  position: relative;
  top: -1px;
  width: 65px;
  height: 2px;
  vertical-align: middle;
  background: black;
  margin: 0 15px 0 5px;
}
.show_mob_menu .close-mob-menu {
  position: absolute;
  left: 50%;
  cursor: pointer;
  bottom: 10%;
  margin-left: -21px;
}

#owl-shop-slider {
  overflow: hidden;
  width: 96%;
  margin-left: 4%;
}
#owl-shop-slider .owl-wrapper-outer {
  position: relative;
  overflow: hidden;
  background: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
#owl-shop-slider .owl-wrapper-outer .grayscale {
  opacity: 0.4;
}
#owl-shop-slider .owl-wrapper-outer img {
  z-index: 1;
  position: relative;
}
#owl-shop-slider .slider-text {
  position: absolute;
  top: 43%;
  padding: 0 17%;
  z-index: 3;
  display: block;
}
#owl-shop-slider .slider-text h2, #owl-shop-slider .slider-text a {
  display: block;
  color: #fff;
}
#owl-shop-slider .owl-controls {
  position: absolute;
  right: 0;
  top: 34%;
  z-index: 3;
}
#owl-shop-slider .owl-page {
  width: 15px;
  height: 1px;
  color: blue;
  background: #fff;
  margin: 40px 50px 40px 0;
  position: relative;
}
#owl-shop-slider .owl-page .num {
  color: #fff;
  font: 18px "Montserrat-Light";
  position: absolute;
  right: 41px;
  top: -9px;
  letter-spacing: 4px;
}
#owl-shop-slider .owl-page.active {
  height: 4px;
  margin: 45px 0 45px 36px;
  width: 28px;
}

/* ************ FOOTER *************** */
footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 170px 0 155px 0;
}
footer .fa {
  font-size: 30px;
}
footer .soc-network a {
  padding-right: 30px;
}
footer .soc-network a:last-child {
  padding-right: 0;
}
footer .soc-network a {
  color: #fff;
}

.foot-menu {
  margin-top: 95px;
}
.foot-menu li {
  margin-right: 50px;
}
.foot-menu li:last-child {
  margin-right: 0 !important;
}
.foot-menu a:hover {
  color: #fff;
}

/* ************ SHOP CATEGORIES *************** */
.shop-categories {
  margin: 50px 0 120px 0;
}
.shop-categories h2 {
  font: 40px "Montserrat" !important;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 15px;
  margin-top: 0;
}
.shop-categories p {
  font: 18px "Montserrat";
  letter-spacing: 12px;
  margin-bottom: 20px;
}
.shop-categories .block-1-black, .shop-categories .block-2-gray, .shop-categories .block-3-gray, .shop-categories .block-4-pink {
  padding: 30px 35px;
  position: relative;
}
.shop-categories .block-1-black, .shop-categories .block-2-gray {
  margin-bottom: 120px;
}
.shop-categories .block-1-black {
  width: 540px;
  height: 600px;
  background: #000;
}
.shop-categories .block-1-black img {
  position: absolute;
  bottom: 60px;
}
.shop-categories .block-1-black * {
  color: #fff;
}
.shop-categories .block-2-gray {
  width: 552px;
  height: 970px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,f5f5f5+100 */
  background: #f8f8f8;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #f5f5f5 100%);
  background: linear-gradient(to bottom, #f8f8f8 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f5f5f5',GradientType=0 );
}
.shop-categories .block-2-gray img {
  position: absolute;
  bottom: 60px;
  left: 0;
  top: 180px;
}
.shop-categories .block-3-gray {
  background: #f0f0f0;
  width: 700px;
  height: 480px;
}
.shop-categories .block-3-gray img {
  position: absolute;
  left: -40px;
  bottom: 65px;
}
.shop-categories .block-4-pink {
  background: #f7d5d3;
  width: 552px;
  height: 600px;
}
.shop-categories .block-4-pink img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*# sourceMappingURL=main-shop.css.map */